@use '../utils/mixin' as m;

.link-icon {
    display: flex;
    align-items: center;
    gap: 11px;
    text-decoration: underline;
    transition: text-decoration-color 0.3s ease;

    &::before {
        content: '';
        width: 24px;
        aspect-ratio: 1;
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        background-color: var(--icon-light);
    }

    @include m.hover {
        &:hover {
            text-decoration-color: var(--text-hover);
        }
    }

    &--mail {
        &::before {
            mask-image: url("/icons/envelope.svg");
        }
    }

    &--phone {
        &::before {
            mask-image: url("/icons/headphones.svg");
        }
    }
}

.link-underline {
    color: var(--text-light);
    font-size: 21px;
    line-height: 1.42em;
    text-decoration-line: underline;
    transition: text-decoration-color 0.3s ease;

    @include m.hover {
        &:hover {
            text-decoration-color: var(--text-hover);
        }
    }

}

@include m.laptop {
    .link-icon {
        &__text {
            display: none;
        }
    }
}