@use "../utils/mixin" as m;

.footer {
    margin-top: 110px;
    padding: 90px 0;
    color: var(--text-semilight);

    &__container {        
        display: flex;
        flex-direction: column;
        gap: 123px;
    }

    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 48px;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 629px;
        width: 100%;
        gap: 146px 32px;
        font-size: 15px;
        line-height: normal;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    &__contacts-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__contacts-item {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__socials {
        display: flex;
        gap: 17px;
        flex-wrap: wrap;
    }

    &__socials-item {
        width: 45px;
        aspect-ratio: 1;
    }

    &__socials-icon {
        fill: var(--icon-semilight);
    }
}

