@use "../utils/mixin" as m;

.form {
	&__input {
        padding: 17px;
        background-color: var(--input-bg);
        border: unset;
        color: var(--input-text);
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.15em;

        &::placeholder {
            color: var(--input-text);
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.15em;
        }
    }

    &__textarea {
        resize: none;
        min-height: 135px;
    }

    &__col-2 {
        grid-column: span 2;
    }

    &__submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px;
        color: var(--text-light);
        background-color: var(--btn-bg-accent);
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.28em;
        letter-spacing: 1.2px;
        text-transform: uppercase;

        &::after {
            content: '';
            width: 13px;
            height: 10px;
            mask-image: url("/icons/arrow.svg");
            mask-repeat: no-repeat;
            mask-size: cover;
            mask-position: center;
            background-color: var(--bg-primary);
        }
    }
}

