@use "../utils/mixin" as m;

.header {
    position: absolute;
    padding: 44px 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    color: var(--text-light);

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__socials-item {
        width: 34px;
        aspect-ratio: 1;
    }

    &__socials-icon {
        fill: var(--icon-light);
    }

    &__about {
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }

    &__name {
        font-size: 28px;
        font-weight: 900;
        letter-spacing: -1.8px;
        line-height: 1.2em;
    }

    &__specialization {
        font-size: 14px;
        line-height: 1.92em;
        letter-spacing: 5.6px;
        text-transform: uppercase;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 29px;
    }
}