.title-main {
    margin-bottom: 10px;
    font-size: 110px;
    line-height: 1.1em;
    letter-spacing: -4.4px;
}

.title-m {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 0.84em;
    text-transform: uppercase;
}

.title-s {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.68em;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.title-l {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;

    &__underline {
        text-decoration: underline;
    }
}