<section class="section contact">
    <div class="container container--m contact__container">
        <div class="contact__info">
            <h2 class="title-l contact__title">I’m available for a exciting new project. <span
                    class="title-l__underline">Let’s Talk.</span></h2>
            <p class="contact__text">You can send me a message here OR contact me on any social networks. We can grab a
                coffee and talk it over a
                phone.</p>
        </div>
        <form action=""
            class="contact__form form">
            <input type="text"
                placeholder="Name *"
                required
                class="form__input">
            <input type="email"
                placeholder="Email Address *"
                required
                class="form__input">
            <input type="text"
                placeholder="Address *"
                required
                class="form__input">
            <input type="tel"
                placeholder="Phone"
                class="form__input">
            <textarea type="tel"
                placeholder="Your message *"
                required
                class="form__input form__textarea form__col-2"></textarea>
            <button type="submit"
                class="form__submit form__col-2"><span>Submit</span></button>
        </form>
    </div>
</section>