<section class="section expertise">
    <div class="container container--m">
        <h2 class="title-m expertise__title">Expertise</h2>
        <ul class="expertise__list">
            <li class="expertise__item">
                <span class="expertise__name">Frontend</span>
            </li>
            <li class="expertise__item">
                <span class="expertise__name">Cat memes</span>
            </li>
            <li class="expertise__item">
                <span class="expertise__name">Reading</span>
            </li>
        </ul>
    </div>
</section>