<section class="section experiences">
    <div class="container container--m experiences__container">
        <h2 class="title-m experiences__title">Education</h2>
        <div class="year experiences__item experiences__item--education">
            <span class="year__year experiences__item-year">2017 - 2021</span>
            <h6 class="year__title experiences__item-name">Programmer-technician</h6>
            <p class="year__descr experiences__item-descr">Nizhegorodsky automechanical technical school</p>
        </div>
        <div class="year experiences__item experiences__item--education">
            <span class="year__year experiences__item-year">2022 - present</span>
            <h6 class="year__title experiences__item-name">Self-education</h6>
            <p class="year__descr experiences__item-descr">Mastering html, css, js, vue, nuxt</p>
        </div>
        <h2 class="title-m experiences__title">Experiences</h2>
        <div class="year experiences__item experiences__item--experiences">
            <span class="year__year experiences__item-year">2022 - 2022</span>
            <h6 class="year__title experiences__item-name">Digital Agency UpFly</h6>
            <p class="year__descr experiences__item-descr">worked as an html coder</p>
        </div>
        <div class="year experiences__item experiences__item--experiences">
            <span class="year__year experiences__item-year">2023 - present</span>
            <h6 class="year__title experiences__item-name">Web Studio Webshop</h6>
            <p class="year__descr experiences__item-descr">working as an html coder, becoming a frontend developer</p>
        </div>
    </div>
</section>