<section class="skills section">
    <div class="container container--m skills__container">
        <div class="skills__item skills__skills">
            <h2 class="title-m">Skills</h2>
            <div class="skills__progressbars">
                <div class="progressbar">
                    <span class="progressbar__name">html5</span>
                    <progress data-progress="html"
                        class="progressbar__progress"
                        value="0"
                        max="100"></progress>
                </div>
                <div class="progressbar">
                    <span class="progressbar__name">css3</span>
                    <progress data-progress="css"
                        class="progressbar__progress"
                        value="0"
                        max="100"></progress>
                </div>
                <div class="progressbar">
                    <span class="progressbar__name">js</span>
                    <progress data-progress="js"
                        class="progressbar__progress"
                        value="0"
                        max="100"></progress>
                </div>
                <div class="progressbar">
                    <span class="progressbar__name">vue3</span>
                    <progress data-progress="vue"
                        class="progressbar__progress"
                        value="0"
                        max="100"></progress>
                </div>
                <div class="progressbar">
                    <span class="progressbar__name">nuxt</span>
                    <progress data-progress="nuxt"
                        class="progressbar__progress"
                        value="0"
                        max="100"></progress>
                </div>
            </div>
        </div>
        <div class="skills__item skills__awards">
            <h2 class="title-m">Awards & Recognitions</h2>
            <div class="skills__awards-wrapper">
                <div class="year skills__award">
                    <span class="year__year skills__award-year">2023</span>
                    <h6 class="year__title skills__award-name">Chatter of the year</h6>
                    <p class="year__descr skills__award-descr">according to my colleagues and bosses</p>
                </div>
                <div class="year skills__award">
                    <span class="year__year skills__award-year">2024</span>
                    <h6 class="year__title skills__award-name">
                        Tik-tok sender of the month</h6>
                    <p class="year__descr skills__award-descr">according to my colleagues and bosses</p>
                </div>
            </div>
        </div>
    </div>
</section>