<section class="section testimonials">
    <div class="container container--m">
        <h3 class="title-s testimonials__title">Testimonials</h3>
        <div class="quote">
            <blockquote class="quote__text">
                <p> Daria is so good at what she does. Excellent communication skills made things much simpler and
                    faster.
                    Will
                    continue working with her.</p>
            </blockquote>
            <span class="quote__author">
                Dr. Steve Watson, <b>Greenland Studio in.</b>
            </span>
        </div>
    </div>
    <div class="ticker testimonials__ticker">
        <span class="ticker__item">frontend</span>
        <span class="ticker__item">frontend</span>
        <span class="ticker__item">frontend</span>
    </div>
</section>