<section class="section works">
    <div class="container container--l">
        <h3 class="title-s works__subtitle">My recent works</h3>
        <h2 class="title-l works__title">Creating websites with animations</h2>
        <p class="works__text">I love to create websites with beautiful modern design and enliven interfaces by adding
            animations
        </p>
        <ul class="works__list">
            <li class="works__list-item">
                <article class="works__card">
                    <a href="./img/works/glasses.jpg"
                        data-fancybox="works"
                        class="works__card-img">
                        <img class="works__card-img-img"
                            src="/img/works/glasses.jpg"
                            alt="Solnyshco glasses">
                    </a>
                    <h6 class="works__card-title">
                        <a href="https://www.solnyshco.com/glasses"
                            target="_blank">Solnyshco glasses</a>
                    </h6>
                </article>
            </li>
            <li class="works__list-item">
                <article class="works__card">
                    <a href="./img/works/ag-tkani.jpg"
                        data-fancybox="works"
                        class="works__card-img">
                        <img class="works__card-img-img"
                            src="/img/works/ag-tkani.jpg"
                            alt="Solnyshco glasses">
                    </a>
                    <h6 class="works__card-title">
                        <a href="https://ag-tkani.ru/"
                            target="_blank">
                            Alliance group</a>
                    </h6>
                </article>
            </li>
            <li class="works__list-item">
                <article class="works__card">
                    <a href="./img/works/gb.jpg"
                        data-fancybox="works"
                        class="works__card-img">
                        <img class="works__card-img-img"
                            src="/img/works/gb.jpg"
                            alt="GetBeer">
                    </a>
                    <h6 class="works__card-title">
                        <a href="https://getbeer.ru/"
                            target="_blank">
                            GetBeer</a>
                    </h6>
                </article>
            </li>
            <li class="works__list-item">
                <article class="works__card">
                    <a href="./img/works/rad.jpg"
                        data-fancybox="works"
                        class="works__card-img">
                        <img class="works__card-img-img"
                            src="/img/works/rad.jpg"
                            alt="RusAutoDetail">
                    </a>
                    <h6 class="works__card-title">
                        <a href="https://rad52.ru/"
                            target="_blank">
                            RusAutoDetail</a>
                    </h6>
                </article>
            </li>
            <li class="works__list-item">
                <article class="works__card">
                    <a href="./img/works/plusresidence.jpg"
                        data-fancybox="works"
                        class="works__card-img">
                        <img class="works__card-img-img"
                            src="/img/works/plusresidence.jpg"
                            alt="RusAutoDetail">
                    </a>
                    <h6 class="works__card-title">
                        <a href="https://plusresidence.ru/"
                            target="_blank">
                            Plusresidence</a>
                    </h6>
                </article>
            </li>
            <li class="works__list-item">
                <article class="works__card">
                    <a href="./img/works/promgran.jpg"
                        data-fancybox="works"
                        class="works__card-img">
                        <img class="works__card-img-img"
                            src="/img/works/promgran.jpg"
                            alt="promgran">
                    </a>
                    <h6 class="works__card-title">
                        <a href="https://promgran.ru/"
                            target="_blank">
                            Promgran</a>
                    </h6>
                </article>
            </li>
        </ul>
    </div>
</section>