<header class="header">
    <div class="container container--l header__container">
        <div class="header__left">
            <div class="header__about">
                <span class="header__name">Forst09</span>
                <span class="header__specialization">frontend developer</span>
            </div>
            <ul class="header__socials">
                <li>
                    <a href="https://t.me/dariafront"
                        class="header__socials-item img"
                        target="_blank">
                        <svg class="img__img header__socials-icon">
                            <use xlink:href="/icons/sprite.svg#tg"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/forst09/"
                        class="header__socials-item img"
                        target="_blank">
                        <svg class="img__img header__socials-icon">
                            <use xlink:href="/icons/sprite.svg#ig"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://vk.com/darforst"
                        class="header__socials-item img"
                        target="_blank">
                        <svg class="img__img header__socials-icon">
                            <use xlink:href="/icons/sprite.svg#vk"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/dforst09"
                        class="header__socials-item img"
                        target="_blank">
                        <svg class="img__img header__socials-icon">
                            <use xlink:href="/icons/sprite.svg#x"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__right">
            <a href="mailto:dforst09@gmail.com"
                target="_blank"
                class="link-icon link-icon--mail"><span class="link-icon__text">dforst09@gmail.com</span></a>
            <a href="tel:+71234567890"
                target="_blank"
                class="link-icon link-icon--phone"><span class="link-icon__text">+7 (123) 456 78 90</span></a>
        </div>
    </div>
</header>