@use "../utils/mixin" as m;

.contact {
    padding-top: 200px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 48px;
    }

    &__info {
        max-width: 464px;
    }

    &__text {
        max-width: 421px;
    }

    &__form {
        max-width: 470px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
    }

    &__title {
        margin-bottom: 30px;
        color: var(--text-light);
        text-align: unset;
    }

    &__text {
        color: var(--text-semilight);
    }
}

@include m.tablet {
    .contact {
        padding-top: 100px;
        &__container {
            flex-direction: column;
        }

        &__info {
            max-width: 700px;
        }

        &__text {
            max-width: 500px;
        }

        &__form {
            max-width: unset;
            width: 100%;
        }
    }
}

@include m.mobile {
    .contact {
        &__form {
            grid-template-columns: 1fr;
        }
    }
}