@use "../utils/mixin" as m;

.skills {
   &__container {
        display: flex;
        justify-content: space-between;
        gap: 36px;
   } 

   &__item {
        display: flex;
        flex-direction: column;
   }

   &__skills {
     gap: 110px;
   }

   &__awards {
        gap: 83px;
   }

   &__progressbars {
        display: flex;
        flex-direction: column;
        gap: 17px;
   }

   &__awards-wrapper {
        display: flex;
        flex-direction: column;
        gap: 33px;
   }

   &__award-descr {
        margin-top: 8px;
   }
}

@include m.tablet {
     .skills {
          &__container {
               flex-direction: column;
               gap: var(--section-offset);
          }

          &__awards,
          &__skills {
               gap: 48px;
          }

          &__awards-wrapper {
               flex-direction: row;
               justify-content: space-between;
               flex-wrap: wrap;
          }
     }
}