@use "mixin" as m;

:root {
   --bg-primary: #ffffff;
   --bg-dark: #222222;

   --text-primary: #333333;
   --text-light: #ffffff;

   --icon-light: #ffffff;
}

@include m.tablet {
  
}

@include m.mobile {
   
}